.teste {
    height: 200px;
    width: 200px;
}
.fundo-imagem {
    width: 200px;
    height: 200px;
    background: url(/images/banner.jpg);
    background-size: cover;
    background-position: center;
}